<!-- Home view template -->
<div class="home">
    <md-content class="md-padding">
        <md-card>
            <img ng-src="assets/images/home-image.jpg" draggable="false" class="md-card-image" alt="Washed Out">
            <md-card-content layout-align="center">
                <h2 class=" md-display-1" align="center">Web app using Node.js and Angular.js stack!</h2>
                <p>
                    This app is used for making cross-domain requests and scrap data from that websites.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center">
                <md-button class="md-warn md-raised md-hue-2" ui-sref="scraper">Get started</md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</div>
