<md-content class="md-padding">
    <md-card>
        <img ng-src="assets/images/home-image.jpg" draggable="false" class="md-card-image" alt="Washed Out">
        <md-card-content layout-align="center">
            <h2 class="md-title" align="center" >Paracosm</h2>
            <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center">
            <md-button class="md-warn md-raised md-hue-2" ui-sref="scrap">Get started</md-button>
        </md-card-actions>
    </md-card>
</md-content>